//variables
$width-recept:500px;
$color-primary:rgb(191, 221, 42);
$color-secondary:rgb(42, 221, 190);
@mixin box-shadow($x, $y, $blur, $c){
    -webkit-box-shadow:$x $y $blur $c;
    -moz-box-shadow:$x $y $blur $c;
    -ms-box-shadow:$x $y $blur $c;
    box-shadow:$x $y $blur $c;
}
@mixin border-radius($x){
    -webkit-border-radius:$x;
    -moz-border-radius:$x;
    -ms-border-radius:$x;
    border-radius:$x;
}

.container{
    width:100vw;
    height:100vh;
}

#welcome{
    box-sizing: content-box;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: " " "present";
    
    #present{ 
        grid-area:present;
        .title{ color:$color-primary; }
        span { color:$color-secondary; }
    }

    .font-main { font-family:'Urbanist'; font-size:2.5em; color:#ddd; cursor:default;
        .title { font-size:1.6em; transition:all ease .5s;}
        .title:hover { transform:scale(1.02); transition:all ease .5s;}
    }

    #btns{
        .btn-buy{ background-color:$color-primary; }
        .btn{ 
            margin:0 auto; 
            margin-top:1rem; 
            width:90%;
            font-size:.5em;
        }
    }
    
}

#welcome::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-image:url('../media/laptop-3174729.jpg'); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    filter:brightness(0.7);
    z-index:-1;    
}

@media (max-width:$width-recept) {
    #welcome::before{
        background-size:cover;
        background-position-x:-120px;
        
    } 
}

#package{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    @include box-shadow(0px, 0px, 3px, white);
    background-color:rgba(0,0,0,.5);
}

#present-package{
    margin:0 auto;
    width:80%;
    height:100%;
    
}

.snap-container {
    height: 100vh;
    overflow: auto;  
    scroll-snap-type: y mandatory;  
  }

  .snap-section {
    scroll-snap-align: start;
    min-height: 60vh;
  }


