
/*==============================================*/
/*General rules*/

//variables

$width-recept:650px;
$color-primary:rgb(191, 221, 42);
$color-primary-hover:rgb(203, 255, 15);
$color-secondary:rgb(42, 221, 190);
$color-dark:rgb(33, 37, 41);

//mixins
@mixin box-shadow($x, $y, $blur, $c){
    -webkit-box-shadow:$x $y $blur $c;
    -moz-box-shadow:$x $y $blur $c;
    -ms-box-shadow:$x $y $blur $c;
    box-shadow:$x $y $blur $c;
}
@mixin border-radius($x){
    -webkit-border-radius:$x;
    -moz-border-radius:$x;
    -ms-border-radius:$x;
    border-radius:$x;
}

//container
.container{
    width:100vw;
    height:100vh;
}