//reglas generales
//@import './1-general-rules.scss';

/*==========================================*/
/*Welcome section*/

#welcome::before{
    content:' ';
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100%;
    margin:0;
    padding:0;
    background-image:url('../media/laptop-3174729(1).jpg'); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    filter:brightness(0.6);
    z-index:-1;    
}

#welcome{
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: " " "present";
    
    #present{ 
        width:650px;
        grid-area:present;
        .title{ color:$color-primary; }
        span { color:$color-secondary; }
    }

    .font-main { font-family:'Urbanist';  color:#ddd; cursor:default;
        .title { 
            font-size:4em; 
            transition:all ease .5s;
        }
        .title:hover { transform:scale(1.02); transition:all ease .5s;}
        
    }

    #btns{      
        .btn-buy{ background-color:$color-primary; }
        .btn{ 
            margin:0 auto; 
            margin-top:1rem; 
            width:60%;
            font-size:1.2em;
        }
        .btn div{
            display:grid;
            grid-template-columns:20% 60%;
            align-items: center;
        }
    }
    
}


@media (max-width:$width-recept) {
    #welcome::before{
        background-size:cover;
    } 
    #welcome{
        grid-template-columns:0px;
        #present{
            margin:0 auto;
            width:400px;
        }

        .font-main{
            .title{ 
                font-size:3.1em;
            }
            .subtitle{
                font-size:1.8em;
            }
        }

        #btns{      
            .btn{  
                width:90%;
                font-size:1.2em;
            }
            .btn div{
                grid-template-columns:10% 80%;
            }
        }

    }
}